<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  
  <assembly name="stackfoo.impl.dll"/>

  <alias alias="IUserService" type="StackFoo.Security.Service.IUserService,stackfoo.impl"/>
  <alias alias="ISecurityService" type="StackFoo.Security.Service.ISecurityService,stackfoo.impl"/>

  <container name="Core">

    <register type="IUserService" mapTo="StackFoo.Security.Service.UserService,stackfoo.impl">
      <lifetime type="singleton"/>
    </register>
    <register type="ISecurityService" mapTo="StackFoo.Security.Service.SecurityService,stackfoo.impl">
      <lifetime type="singleton"/>
    </register>
  </container>

</unity>
